.portfolio__wrapper {
  background-color: $light-yellow;
  width: 100%;
}

.portfolio__header {
  height: 85vh;
}

.portfolio__container {
  color: $white;
  font-size: 2.5rem;
}

.porfolio__container--tattoscape {
  background-color: $medium-grey;
  border-radius: 10px 10px 0 0;
  height: 150px;
}

.porfolio__container--davidalex17 {
  background-color: $dark-orange;
  border-radius: 10px 10px 0 0;
  height: 150px;
}

.porfolio__container--tbone {
  background-color: $dark-teal;
  border-radius: 10px 10px 0 0;
  height: 150px;
}

.portofolio__footer {
  background-color: $kinda-black;
  height: 20rem;
}
