// FONT
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Space+Mono:wght@400;700&display=swap');

// VARIABLES
$white: hsl(0, 0%, 100%);
$light-yellow: hsl(66,51,92);
$medium-grey: hsl(170,9,74);
$dark-orange: hsl(356,54,65);
$dark-teal: hsl(180,100,25);
$kinda-black: hsl(240,4,10);

// FILES
@import 'general';
@import 'style';
@import 'media';
@import 'components';